@import "tailwindcss";

.header-container {
    @apply p-2 md:p-4 lg:p-6 mx-2 text-start ;
}

.header-logo {
    h1 {
        @apply text-sm lg:text-2xl text-white ;
        /* can use an @apply with custom @theme for the moment ! */
        font-family: var(--font-title);
    }
    
    h2 {
        @apply text-xs lg:text-xl text-white;
        /* can use an @apply with custom @theme for the moment ! */
        font-family: var(--font-text);
        font-weight: lighter;
    }
}

.header-logo .userName {
    color: var(--color-title) !important;
    font-weight: bold;
}